/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* 
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; 
    */

/* Shared Styles */
body {
    font-family: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.text_primary {
    color: orange;
}

.btn_primary {
    background-color: orange;
    padding: 5px 15px;
    font-size: 25px;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

.sectionTitle {
    font-size: 30px;
    text-align: center;
    margin: 20px 0px;
}

/* Header styles */
header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTitle {
    font-size: 45px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
    margin-right: 20px;
}

nav ul li a {
    font-size: 25px;
    text-decoration: none;
    color: gray;
    /* padding: 10px; */
    margin-right: 20px;
}

.bannerContainer {
    display: flex;
    align-items: center;
    margin-top: 40px;

}

.bannerGretting {
    font-size: 20px;
    margin-bottom: 10px;
}

.bannertitle {
    font-size: 40px;
    margin-bottom: 20px;
}

.bannerDesc {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 36px;
}

.bannerImage img {
    padding-bottom: 0;
}

.aboutSection {
    margin: 90px auto;
    width: 900px;
    background-color: #FFF8F3;
    padding: 30px;
}

.aboutDesc {
    text-align: center;
    margin-top: 10px;
}

.aboutInfoContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}

.infosDetails {
    text-align: center;
}

.infoName {
    font-weight: bold;
}

/* What i do section styles */
.whatiDosection {
    margin: 100px 0px;
}



.whatDesc {
    margin: 30px auto;
    width: 900px;
    text-align: center;
    line-height: 30px;
}

.experianceContainer {
    display: flex;
    margin: 50px 0px;
    justify-content: space-around;
}

.experianceItem {
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 4px;
    margin: 0px 10px;
}

.exLogo {
    margin: 10px 0px;
}

.experianceTitle {
    margin: 20px 0px;
}

.experianceItem .expeianeDesc {
    font-size: 18px;
    margin: 30px 0px;
    line-height: 25px;
}

/* education section  */
.educationinfoContainer {
    display: flex;
    justify-content: space-between;
}

.educationDetailsInfos {
    margin: 20px 15px;
}

.educationDetailsTitle {
    margin: 15px 0px;
    font-size: 25px;
}

.educationTitle {
    margin: 15px 0px;
    font-size: 20px;
}

.educationSubTitle {
    font-size: 16px;
    margin: 10px 0px;
    font-weight: 400;
}

.educationDesc {
    line-height: 25px;
    margin: 15px 0px;
}

.downloadCv {
    text-align: center;
    margin: 30px 0px;
}

/* footer section styles */
footer {
    background-color: #FFF8F3;
    padding: 120px 30px;
    margin-top: 70px;
}

.footerDetailsContainer {
    display: flex;
    justify-content: space-around;
}



.columnTitle {
    font-size: 30px;
    margin: 15px 0px;
}

.columndesc {
    font-size: 16px;
    line-height: 25px;
    margin: 15px 0px;
    width: 600px;
    margin: auto;
}

.socialLinks {
    display: flex;
    margin: 20px 0px;
}

.socialLinks img {
    margin-right: 10px;
}

.footerCollumn input,
textarea {
    display: block;
    margin: 10px 0px;
    width: 100%;
    padding: 5px;
}