/* Google Fonts Cdn */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

/* 
.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
      font-family: "Inter Tight", sans-serif;
  }
*/

/* Default css styles strt */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0px auto;
}

/* Main css styles */

/* Header banner section css */


.headerBanner {
    background-image: url('../resources/Banner\ Image.png');
    padding: 270px 0px;
    background-repeat: no-repeat;
    background-position: center center;
    /* border-radius: 7px; */
    text-align: center;
    opacity: .5;
}

.bannerTitle {
    font-size: 30px;
    font-family: "Merriweather", serif;
    color: white;
}

.bannerSubTitle {
    font-family: "Merriweather", serif;
    font-size: 70px;
    color: white;
    width: 600px;
    margin: 20px auto;
}

/* Discount offer section */
.discountDetailsContainer {
    max-width: 500px;
    margin: auto;
    text-align: center;
}


.discountDetailsContainer img {
    width: 100%;
    margin-top: 30px;
}

.discountTitle {
    font-weight: bold;
    color: red;
    font-size: 80px;
    font-family: "Inter Tight", sans-serif;
    margin: 20px 0px;
}

.discountSubTitle {
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter Tight", sans-serif;
    margin: 40px 0px 5px 0px;
    color: red;
}

.discountCatagoriTitle {
    font-size: 30px;
    font-weight: bold;
    font-family: "Inter Tight", sans-serif;
    margin: 20px 0px;
}

/* Midnight section stylse */
.midnightSection {
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    padding: 200px 0px;
    background-position: center center;
    margin: 50px 0px;
    border-radius: 10px;
}

.midnightDetaisContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.midnightContents {
    padding: 15px;
    color: white;
    /* width: 500px; */
    margin-right: 20px;
    margin-left: 20px;
}

.midnightTitle {
    font-size: 60px;
    font-family: "Merriweather", serif;
    font-weight: bold;
    margin: 20px 0px;
}

.midnightDesc {
    font-size: 18px;
    font-family: "Inter Tight", sans-serif;
    font-weight: 400;
    margin: 15px 0px;
}

.midnightContents button {
    padding: 10px;
    border: none;
    color: black;
    font-weight: bold;
}

/* Loaction section */
.locationsection {
    background-image: linear-gradient(#ff00003d, #ff000000);
    text-align: center;
    padding: 100px 0px;
    font-family: "Inter Tight", sans-serif;
}

.locationsection strong {
    color: red;

}

.locatioPlace,
.locationDate,
.locationTime {
    margin: 10px 0px;
}

.joinBtn {
    background-color: red;
    color: white;
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
}

/* Comming soon details  */
.commingSoonSetion {
    margin: 40px 0px;
}

.commingSoonDetailsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.commingSoonDetails {
    width: 33%;
}

.commingSoonDetails .ellips1Img {
    border: 8px solid red;
    border-radius: 50%;
    padding: 15px;
}

.commingSoonDetails .Img96 {
    width: 150px;
    margin: 20px 0px;
}

.newlatterTitle {
    color: red;
    font-weight: 400;
    font-family: "Merriweather", serif;
}

.commingTitle {
    font-size: 40px;
    font-family: "Merriweather", serif;
    margin: 20px 0px;
}